.search-query{
  border-radius: 1.5rem;
  color: #906066;
  border: 1px solid #ff4637;
}
#btn_submit{
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  background: none;
  color: #906066;
  border: 1px solid #ff4637;
}
